@import '../../../../colors.scss';

.project-detail {
    
    .project-detail-wrapper {
        background-color: $white;
        border-radius: 5px;
        padding: 25px;
        .close-btn {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            .close-btn-wrapper {
                padding: 8px;
                margin-bottom: 15px;
                i {
                    color: $high-gray;
                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
        .title-info {
            display: flex;
            justify-content: space-between;
            .title-info-wrapper {
                display: flex;
                img {
                    height: 100px;
                    width: 100px;
                }
                h1 {
                    font-size: 25px;
                    font-weight: bold;
                    text-transform: capitalize;
                    padding-left: 25px;
                    @media (max-width: 768px) {
                        font-size: 20px;
                        padding-left: 10px;
                    }
                }
            }
            .title-info-button-wrapper {
                padding-left: 15px;
                .button-visit {
                    background-color: $blue;
                    color: white; 
                    padding: 12px 24px;
                    font-size: 16px;
                }
            }
        }
        .description {
            .description-wrapper {
                margin-top: 25px;
                h3 {
                    color: $high-gray;
                    font-weight: bold;
                    font-size: 20px;
                    @media (max-width: 768px) {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .carousel {
        .carousel-wrapper {
            .image-slide {
                height: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

.project-col {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 0;
    &:hover {
        .overlay-info-display {
            height: 100%;
            i {
                font-size: 45px;
            }
        }
    }
    .overlay-info-display {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
        width: 100%;
        transition: height cubic-bezier(0.19, 1, 0.22, 1) 150ms;
        background-color: rgba($color: #000000, $alpha: 0.32);
        i {
            font-size: 0px;  
        }
    }
}

.project {
    height: 350px;
    cursor: pointer;
    .project-wrapper{
        height: 100%;
        width: 100%;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.project-list-wrapper {
    display: flex;
    flex-wrap: wrap;
}