@import '../../../../colors.scss';

.icon-content {
    .icon-content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .icon-touch {
            .icon-touch-wrapper {
                cursor: pointer;
                padding: 15px;
                .icon {
                    transition: opacity ease-in 350ms;
                    font-size: 50px;
                    opacity: .5;
                    &:hover {
                        opacity: 1;
                    }
                }
                .icon-selected {
                    opacity: 1;
                }
            }
        }
    }
}