@import '../../../../colors.scss';

.bar-skill-wrapper {
    margin: 3px;
    width: 80%;
    .bar-skill {
        padding: 5px;
        border: $pink solid 1px;
        display: flex;
        align-self: center;
        flex-direction: row;
        .bar-wrapper {
            height: 30px;
            flex: 1;
            margin: 3px;
            .bar {
                width: 100%;
                height: 100%;
            }
        }
    }
}