@import '../../../colors.scss';


.project-list-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    .project-list-item-info {
        h2 {
            
        }
    }
}