@import './colors.scss';

body {
    background-color: $dark;
}

#page-content {
    padding-left: 90px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: padding-left cubic-bezier(0.165, 0.84, 0.44, 1) 250ms;
    @media (max-width: 768px) {
        padding-left: 0;
        min-height: 70vh;
    }
}
