@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-Medium.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font//Montserrat-Italic.ttf');
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-Black.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-ExtraLight.ttf');
  font-weight: lighter;
  font-style: normal;
}


@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-LightItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: url('./font/Montserrat-ExtraLightItalic.ttf');
  font-weight: lighter;
  font-style: italic;
}

body {
  margin: 0;
  font-size: 18px ;
  font-family: montserrat;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}