:export {
    $black: #000000;
    $white: #FFFFFF;
    $error-color: #EA2D2E;
    $gray: #8B8B8B;
    $high-gray: #626262;
    $blue: #0C83FD;
    $pink: #ED1E79;
    $dark: #1A1A1D;
    $high-dark: #0E0E10;
}