@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-Medium.ttf');
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-Black.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-Light.ttf');
  font-weight: 100;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-ExtraLight.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-style: montserrat;
  src: url('./font/Montserrat-BlackItalic.ttf');
  font-style: italic;
  font-weight: bolder;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-LightItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: montserrat;
  src: url('./font/Montserrat-ExtraLightItalic.ttf');
  font-weight: lighter;
  font-weight: lighter;
}

body {
  margin: 0;
  font-size: 18px ;
  font-family: montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
